[Unit]
Description=SC Metrics Agent - Auto Update Timer (every 1 hour)
Documentation=https://docs.cloud.strettch.com/agents/sc-metrics-agent

[Timer]
# Start 5 minutes after boot
OnBootSec=5min

# Run every 1 hour
OnUnitActiveSec=30s


# Add randomized delay to prevent thundering herd
RandomizedDelaySec=10sec

# Persist last trigger time across reboots
Persistent=true

# Timer accuracy
AccuracySec=1s

# Service to trigger
Unit=sc-metrics-agent-update-scheduler.service

[Install]
WantedBy=timers.target
