[Unit]
Description=SC Metrics Agent - Auto Update Service
Documentation=https://docs.cloud.strettch.com/agents/sc-metrics-agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sc-metrics-agent-updater.sh
User=root
Group=root

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=SCMetricsAgentUpdater

# Timeout settings
TimeoutStartSec=300
TimeoutStopSec=30

# Environment
Environment="DEBIAN_FRONTEND=noninteractive"
Environment="SC_AGENT_AUTO_UPDATER=1"
Environment="PATH=/usr/local/sbin:/usr/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target